.container
  .row
    h1.page-header= title "Les partenaires des associations de l'Ensimag"
    ol.breadcrumb
      li= link_to "Accueil", root_path
      li.active Partenaires

  .row
    - @partners.each_with_index.each do |partner, i|
      = render partial: "partner_item", locals: { partner: partner }
      - if ((i + 1) % 3) == 0
        .clearfix

  - if policy(Partner).new?
    .row
      = link_to "Nouveau partenaire", new_partner_path, class: "btn btn-block btn-primary btn-lg", 'data-turbolinks' => false
