html { padding:10px; }

body {
  border:0;
  background:#fcfcfc;
  font-family:monospace;
  font-size:14px;
  line-height:1.35em;
  margin:0;
  padding:0;
}

@import "bootstrap_configuration";
@import "bootstrap";

body {
  @extend .form-control
}
html, body {
  min-height: 100%;
  height: auto !important;
}