p
  | Bienvenue #{@email}!
p Vous pouvez confirmer l'adresse e-mail associée à votre compte à l'aide du lien suivant :
p= link_to 'Confirmer mon adresse e-mail', confirmation_url(@resource, confirmation_token: @token)

p Le site Asso-Ensimag