p
  | Bonjour #{@resource.email}!
p Quelqu'un a demandé la génération d'un lien de réinitialisation du mot de passe pour votre compte.
p= link_to 'Réinitialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token)
p Si vous n'avez pas réalisé cette demande, ignorez tout simplement cet e-mail.
p Votre mot de passe ne changera pas tant que vous ne suivrez pas ce lien pour créer un nouveau mot de passe.

p Le site Asso-Ensimag